<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/play.css"/>
</head>
<body>

    {{#if recieved.length}}
        <h2>Previous guesses</h2>
        <ul>
            {{#each recieved}}
                <li class={{this.comparison}}>
                    {{this.guess}}, {{this.status}}
                </li>
            {{/each}}
        </ul>
    {{/if}}

    {{#unless correct}}
        <form method="POST" action="/secret/guess">
            <label for="guess">Input a number to guess:</label>
            <input type="number" id="guess" name="guess" required autofocus/>
        </form>
        <form method="POST" action="/secret/reset">
            <input type="hidden" name="reset" value="true"/>
            <button type="submit" autofocus>Start a new game</button>
        </form>
    {{else}}
        <p>you won in {{num_guesses}} guesses</p>
        <form method="POST" action="/secret/reset">
            <input type="hidden" name="restart" value="true" autofocus/>
            <button type="submit" autofocus>Start a new game </button>
        </form>
    {{/unless}}

    {{#if invalidInput}}
        <p>invalid guess</p>
    {{/if}}

    {{#if mode}}
        <p>#{{targetNumber}}#</p>   
    {{/if}}
    
</body>
</html>